<div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Lịch thi đấu - Vòng <%=vongdau%></strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                        <tr>
                                                <th>                
                                                    <select id="round" class="form-control">
                                                        <option selected>Vòng 1</option>
                                                        <option>Vòng 2</option>
                                                        <option>Vòng 3</option>
                                                        <option>Vòng 4</option>
                                                        <option>Vòng 5</option>
                                                      </select> </th>
                                                <th>
                                                        <select id="home" class="form-control">
                                                                <option selected>Đội nhà</option>
                                                                <option>Juventus</option>
                                                                <option>Hoàng Anh Gia Lai</option>
                                                                <option>Chelsea</option>
                                                                <option>Napoli</option>
                                                              </select>
                                                </th>
                                                <th>
                                                        <select id="away" class="form-control">
                                                                <option selected>Đội khách</option>
                                                                <option>Juventus</option>
                                                                <option>Hoàng Anh Gia Lai</option>
                                                                <option>Chelsea</option>
                                                                <option>Napoli</option>
                                                              </select>
                                                </th>
                                                <th><select id="stadium" class="form-control">
                                                        <option selected>Địa điểm</option>
                                                        <option>Allianz Stadium</option>
                                                        <option>Old Trafford Stadium</option>
                                                        <option>Anfield Stadium</option>
                                                        
                                                      </select></th>
                                                <th><select id="time" class="form-control">
                                                        <option selected>Thời gian</option>
                                                        <option>Sort A-Z</option>
                                                        <option>Sort Z-A</option>
                                                        
                                                        
                                                      </select></th>
                                        </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0; i<trandaus.length ; i++){%>
                                        <tr>
                                            <td><%=i+1%></td>
                                            <td><%= trandaus[i].doiNha.tenDoiBong%></td>
                                            <td><%= trandaus[i].doiKhach.tenDoiBong%></td>
                                            <td><%= trandaus[i].svd%></td>
                                            <td></td>
                                        </tr>
                                    <%}%>
                                    
                                </tbody>
                                     
                        </table>
                         
                        <div style="float:right;">
                            <% if (vongdau < soVong) { %>
                                <form method="get" action="/fixture/fixture-detail/<%=vongsau%>&<%=idSeason%>">
                            <button type="submit" class="btn btn-outline-primary btn-sm">Vòng kế tiếp</button>
                                </form>
                            <% } %>
                        </div>
                        <div style="float:right;">
                                <% if (vongdau!=1) { %>
                                    <form method="get" action="/fixture/fixture-detail/<%=vongtruoc%>&<%=idSeason%>">
                                <button  type="submit" class="btn btn-outline-primary btn-sm">Vòng kế trước</button>
                                    </form>
                                <%}%>
                        </div>
                       
                    </div>
                    
                </div>
            </div>
        </div>
    </div>