<div class="animated fadeIn">
  <div class="row">

    <div class="col-md-12">
      <!-- filter -->
      <div class="row align-items-center justify-content-center">
        <div class="col pt-3">
          <div class="form-group">
            <select id="categories" class="form-control">
              <option selected>Vị trí thi đấu</option>
              <option>Thủ môn</option>
              <option>Hậu vệ</option>
              <option>Tiền vệ</option>
              <option>Tiền đạo</option>
            </select>
          </div>
        </div>
        <div class="col pt-3">
          <div class="form-group">
            <select id="categories" class="form-control">
              <option selected>CLB</option>
              <option>Manchester City</option>
              <option>Manchester United</option>
              <option>Chelsea</option>
              <option>Arsenal</option>
            </select>
          </div>
        </div>
        <div class="col pt-3">
          <div class="form-group">
            <select id="tasg" class="form-control">
              <option selected>Tuổi min</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
            </select>
          </div>
        </div>
        <div class="col pt-3">
          <div class="form-group">
            <select id="tasg" class="form-control">
              <option selected>Tuổi max</option>
              <option>30</option>
              <option>31</option>
              <option>32</option>
              <option>33</option>
              <option>34</option>
              <option>35</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-primary btn-block"><i class="fas fa-filter"></i> Lọc</button>
        </div>
      </div> <!-- end filter-->
      <div class="card">
        <div class="card-header">
          <strong class="card-title">Danh sách các cầu thủ</strong>
        </div>
        <div class="card-body">
          <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th><i class="fa fa-user"></i> Cầu thủ</th>
                <th><i class="fa fa-users"></i> Đội bóng</th>
                <th><i class="fa fa-calendar-alt"></i> Ngày sinh</th>
                <th><i class="fa fa-flag"></i> Quốc tịch</th>
                <th><i class="fa fa-futbol"></th>
                <th><i class="fa fa-shoe-prints"></th>
                <th><i class="fa fa-file fa-file-yellow"></th>
                <th><i class="fa fa-file fa-file-red"></th>
                <th> Cập nhật</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i < danhsachcauthu.length; i++) { %>
              <tr>
                <td>
                  <!-- <button><i class="fa fa-search"></button> -->
                  <a data-toggle="modal" data-target="#largeModal"><strong> <%=danhsachcauthu[i].idCauThu.tenCauThu %>
                    </strong></a>
                  </br>
                  <% if (danhsachcauthu[i].idCauThu.viTriThiDau == 1) { %>
                  Thủ môn
                  <% } %>
                  <% if (danhsachcauthu[i].idCauThu.viTriThiDau == 2) { %>
                  Hậu vệ
                  <% } %>
                  <% if (danhsachcauthu[i].idCauThu.viTriThiDau == 3) { %>
                  Tiền vệ
                  <% } %>
                  <% if (danhsachcauthu[i].idCauThu.viTriThiDau == 4) { %>
                  Tiền đạo
                  <% } %> </td>
                <td><%= danhsachcauthu[i].idCauThu.tenDoiBong %></td>
                <td><%= danhsachcauthu[i].idCauThu.ngaySinh %></td>
                <td><%= danhsachcauthu[i].idCauThu.quocTich %></td>
                <td><%= danhsachcauthu[i].soBanThang %></td>
                <td><%= danhsachcauthu[i].soKienTao %></td>
                <td><%= danhsachcauthu[i].soTheVang %></td>
                <td><%= danhsachcauthu[i].soTheDo %></td>
                <td>
                  <a <i href="/player/edit/<%= danhsachcauthu[i].idCauThu._id %>&<%=idSeason%>" class="fa fa-pen close"
                    style="margin-right: 30px"></i></a>
                </td>
                <!-- <td><i class="fa fa-search"></i></td> -->
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div><!-- .animated -->