<div class="row">
    <div class="col-sm-12">
        <div class="alert  alert-success alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-success">Đội bóng</span>
            <% if (edit=="true") { %>
            <a <i href="/club/info/<%=thongtindoibong._id%>&false&<%=idSeason%>" class="fa fa-ban close "></i> Tắt chỉnh sửa </a>
            <% } else { %>
            <a <i href="/club/info/<%=thongtindoibong._id%>&true&<%=idSeason%>" class="fa fa-pen close" style="margin-right: 30px">
                Chỉnh sửa </i></a>
            <%}%>
            
        </div>
    </div>
</div>


<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <strong>Thông tin</strong>
                </div>
                <div class="card-body card-block">
                    <form action="/club/info/update/<%=thongtindoibong._id%>&<%=idSeason%>" method="post" id="update"
            class="form-horizontal">

            <div class="row form-group">

                <div class="col col-md-3 "><label for="tendoibong" class=" form-control-label "> Tên đội bóng</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="tendoibong" name="tendoibong" placeholder="Tên đội bóng" class="form-control"
                        value="<%=thongtindoibong.tenDoiBong%>" <% if (edit=="false") { %> disabled <% } %>>
                </div>



            </div>
            <div class="row form-group">
                <div class="col col-md-3 "><label for="svd" class=" form-control-label ">Sân vận
                        động</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="svd" name="svd" placeholder="Sân vận động" class="form-control"
                        value="<%=thongtindoibong.svd%>" <% if (edit=="false") { %> disabled <% } %>>

                </div>

            </div>

            <div class="row form-group">

                <div class="col col-md-3 "><label for="hlv" class=" form-control-label ">Huấn luyện
                        viên</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="hlv" name="hlv" placeholder="Huấn luyện viên" class="form-control"
                        value="<%=thongtindoibong.hlv%>" <% if (edit=="false") { %> disabled <% } %>>

                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3 "><label for="dsCauThu" class=" form-control-label ">Cầu thủ dự giải</label>
                </div>
                <div class="col-12 col-md-9">
                    <select name="dsCauThu" id="dsCauThu" data-placeholder="Chọn cầu thủ..." multiple
                        class="standardSelect" <% if (edit=="false") { %> disabled <% } %>>


                        <% cauthubienche.forEach(cauthu => { %>
                        <% if(thongtindoibong.dsCauThu.includes(cauthu._id)) {%>
                        <option value="<%= cauthu._id%>" selected><%= cauthu.tenCauThu %></option>
                        <%} else {%>
                        <option value="<%= cauthu._id%>"> <%= cauthu.tenCauThu%></option>
                        <%}%>
                        <%    }) %>

                    </select>
                </div>

                <input type="hidden" id="imgPath" name="imgPath" value="<%= thongtindoibong.logo %>">
                <% if(edit=="true") { %>
                <button form="update" type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-check"></i> Cập nhật
                </button>
                <form><input type="button" class="btn btn-danger btn-sm" value="Refresh" onclick="history.go(0)"
                        value="Reset">
                </form>
                <%}%>
                   
                </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <strong>Logo</strong>
                </div>
                <div class="card-body card-block">
            <% if(edit=="true") { %>
                <div class="file-loading">
                    <input id="logo" name="logo" type="file" multiple>
                </div>
                <% } else {%>
                <img class="logo-team-edit" src="../../public/assets/img/logo/<%= thongtindoibong.logo %>"
                    alt="<%= thongtindoibong.logo %>">
                <%}%>

                </div>
            </div>
        </div>
    </div>
</div><!-- .animated -->
<div class="card">
        <div class="card-header">
          <strong class="card-title">Danh sách các cầu thủ</strong>
        </div>
        <div class="card-body">
          <table style="text-align:center" id="bootstrap-data-table-export" class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th><i class="fa fa-user"></i> Cầu thủ</th>
                <!-- <th><i class="fa fa-users"></i> Đội bóng</th> -->
                <th><i class="fa fa-calendar-alt"> Ngày sinh</i></th>
                <th><i class="fa fa-flag"> Quốc tịch </th>
                <th><i class="fa fa-running"> Danh sách đăng ký</th>
                <!-- <th><i class="fa fa-futbol"></th>
                <th><i class="fa fa-shoe-prints"></th>
                <th><i class="fa fa-file fa-file-yellow"></th>
                <th><i class="fa fa-file fa-file-red"></th>
                <th><i class="fa fa-check-square fa-file-green"></th>
                <th><i class="fa fa-check-square fa-stopwatch"></th> -->

                <!-- <th><i class="fa fa-user-edit"></th> -->
                <!-- <td></td> -->
              </tr>
            </thead>
            <tbody  >
              <% cauthubienche.forEach(cauthu => { %>
                <% if(thongtindoibong.dsCauThu.includes(cauthu._id)) {%>
                <tr>
                    <td>
                        <!-- <button><i class="fa fa-search"></button> -->
                        <a><strong> <%=cauthu.tenCauThu %>
                            </strong></a>
                        </br>
                        <% if (cauthu.viTriThiDau == 1) { %>
                        Thủ môn
                        <% } %>
                        <% if (cauthu.viTriThiDau == 2) { %>
                        Hậu vệ
                        <% } %>
                        <% if (cauthu.viTriThiDau == 3) { %>
                        Tiền vệ
                        <% } %>
                        <% if (cauthu.viTriThiDau == 4) { %>
                        Tiền đạo
                        <% } %> </td>
                    <td><%= cauthu.ngaySinh %></td>
                    <td><%= cauthu.quocTich %></td>
                    <td><i class="fa fa-check-square fa-file-green"></i></td>
                </tr>
                <%} else {%>
                <tr>
                    <td>
                        <!-- <button><i class="fa fa-search"></button> -->
                        <a><strong> <%=cauthu.tenCauThu %>
                            </strong></a>
                        </br>
                        <% if (cauthu.viTriThiDau == 1) { %>
                        Thủ môn
                        <% } %>
                        <% if (cauthu.viTriThiDau == 2) { %>
                        Hậu vệ
                        <% } %>
                        <% if (cauthu.viTriThiDau == 3) { %>
                        Tiền vệ
                        <% } %>
                        <% if (cauthu.viTriThiDau == 4) { %>
                        Tiền đạo
                        <% } %> </td>
                    <td><%= cauthu.ngaySinh %></td>
                    <td><%= cauthu.quocTich %></td>
                    <td></i></td>
                </tr>
                <%}%>
                <%    }) %>

                </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="animated fadeIn">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Danh sách cầu thủ</strong>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>TT</th>
                                <th><i class="fa fa-user"></i> Cầu thủ</th>
                                <th><i class="fa fa-calendar-alt"></i> Ngày sinh</th>
                                <th><i class="fa fa-running"> Số trận ra sân</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=1; i < 5; i++) { %>
            <tr>
                <td><%=i%></td>

                <td>Scott McTominay</td>
                <td>01/01/1999</td>
                <td>38</td>

            </tr>
            <% } %>

            </tbody>
            </table>
        </div>
    </div>
</div>


</div>
</div> -->